run = "bash start.sh"
modules = ["nodejs-20", "python-3.11"]

[deployment]
run = ["bash", "start.sh"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8000
externalPort = 80

[nix]
