modules = ["python-3.11", "nodejs-20", "web"]

run = "uvicorn backend.app.main:app --host 0.0.0.0 --port 3000"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 5173

[nix]
