.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    padding: 15px 30px;
    color: white;
  }
  
  .logo {
    margin: 0;
  }
  
  .nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: 500;
  }
  
  .nav-links a:hover {
    color: #38bdf8;
  }
  