{% extends "base.html" %}

{% block content %}
<div class="card" style="max-width:450px; margin:auto;">
    <h2>Register</h2>

    <form method="post">
        {% csrf_token %}

        <input type="text" name="username" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>

        <select name="role" required style="width:100%; padding:10px; margin-top:10px;">
            <option value="">Select Role</option>
            <option value="bank">Bank</option>
            <option value="corporate">Corporate</option>
            <option value="auditor">Auditor</option>
        </select>

        <div id="corporate-type" style="display:none; margin-top:10px;">

        <label>Corporate Type</label>

        <select name="corporate_type">
            <option value="">Select Type</option>
            <option value="buyer">Buyer</option>
            <option value="seller">Seller</option>
        </select>

        </div>


        <button class="btn" type="submit" style="margin-top:15px;">
            Register
        </button>
    </form>

    {% if messages %}
        {% for message in messages %}
            <p style="color:red;">{{ message }}</p>
        {% endfor %}
    {% endif %}
</div>


<script>
const roleSelect = document.querySelector('select[name="role"]');
const corporateDiv = document.getElementById("corporate-type");

roleSelect.addEventListener("change", function(){

    if(this.value === "corporate"){
        corporateDiv.style.display = "block";
    }else{
        corporateDiv.style.display = "none";
    }

});
</script>

{% endblock %}
